@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --black : #060111;
    --red : rgb(255, 208, 208);
    --green : rgb(185, 255, 185);
    --blue : rgb(167, 167, 255);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f5f5f5;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(0, 90, 192);
}

a:visited {
  color: rgb(105, 89, 55);
}

.container {
  max-width: 900px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
    height: 300px;
    background-image: url(./avatar.jpg);
    background-position: center;
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgb(0 0 0 / 25%);
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}

@media (max-width: 750px) {
    .info {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-blue {
  background: var(--blue);
}

.bg-red {
  background: var(--red);
}

.bg-green {
  background: var(--green);
}

.btn {
  display: block;
  margin: auto;
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
  width: 150px;
}

.btn:hover {
  opacity: 0.8;
}

.hobby .list li:nth-child(even){
    color: #4e4e4e;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
  /* display: inline-block; */
  /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width: 650px) {
  .form-row {
    display: block;
  }

  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
